body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000;
	line-height: 1.3;
	min-width: 910px;
}
.box{
	width: 400px;
	height: 500px;
	background: darkblue;
	position: relative;
	overflow: hidden;
}
.star{
	width: 2px;
	height: 2px;
	background: #FFF;
	border-radius: 50%;
	position: absolute;
	animation: shine linear infinite alternate;
}
.star-1{
	top: 30px;
	left: 15px;
	animation-duration: 2s;
}
.star-2{
	top: 50px;
    left: 85px;
    animation-duration: 1s;
}
.star-3{
	top: 80px;
    right: 140px;
    animation-duration: .7s;
}
.sea{
	background: blue;
	position: absolute;
	bottom: 0;
	right: 0;
	left: -10%;
	width: 120%;
	height: 100px;
	display: flex;
}
.wave{
	width: 25%;
	height: 50px;
	margin-top: -25px;
	border-radius: 50%;
	background: blue;
	animation: wave 1s linear alternate infinite;
}
.boat{
	width: 200px;
	height: 75px;
	position: absolute;
	bottom: 102px;
	left: -100px;
	background: brown;
	border-radius: 0 0 100px 100px;
	animation: boat 5s linear infinite alternate;
}
@keyframes boat {
	0%     {transform: translateX(0px) rotate(-5deg);}
	25%    {transform: translateX(100px) rotate(5deg);}
	50%    {transform: translateX(200px) rotate(-5deg);}
	75%    {transform: translateX(300px) rotate(5deg);}
	100%   {transform: translateX(400px;) rotate(-5deg);}
}
@keyframes wave {
	0%  {transform: translateX(-10px);}
	100%{transform: translateX(10px);}
}
@keyframes shine {
	0%{box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.7);}
	50%  {box-shadow: 0 0 30px 20px rgba(255, 0, 0, 0.7);}
	100%  {box-shadow: 0 0 17px 10px rgba(255, 255, 0, 0.7);}
}